* {
    color: #10f520}

h1{
    font-size: 30px;
    text-align: center;
    color: #10f520
    }
    
    p{
    font-size: 20px;
    text-align: left;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    }
    
    body {
    background-color: #000000;
    }